@model IEnumerable<AppBancoDominio.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">USUÁRIOS</h2>

<br/>

<table class="table">
    <tr>

        <th class="text-center">
            @Html.DisplayNameFor(model => model.IdUsu)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.NomeUsu)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Cargo)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.DataNasc)
        </th>
        <th class="text-center">
            <b>Ações</b>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td class="text-center">
            @Html.DisplayFor(modelItem => item.IdUsu)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.NomeUsu)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Cargo)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.DataNasc)
        </td>
        <td class="text-center">
           
            @Html.ActionLink("Editar", "Editar", new {id = item.IdUsu }) |
            @Html.ActionLink("Detalhe", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Deletar", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>

<p>@Html.ActionLink("Novo usuario", "Cadastrar")</p>